In [1]:
import pandas as pd
tweet_data = pd.read_csv('Tweets.csv')
tweet_data

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,570306133677760513,neutral,1.0000,NaN,NaN,Virgin America,NaN,cairdin,NaN,0,@VirginAmerica What @dhepburn said.,NaN,2015-02-24 11:35:52 -0800,NaN,Eastern Time (US & Canada)
1,570301130888122368,positive,0.3486,NaN,0.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica plus you've added commercials t...,NaN,2015-02-24 11:15:59 -0800,NaN,Pacific Time (US & Canada)
2,570301083672813571,neutral,0.6837,NaN,NaN,Virgin America,NaN,yvonnalynn,NaN,0,@VirginAmerica I didn't today... Must mean I n...,NaN,2015-02-24 11:15:48 -0800,Lets Play,Central Time (US & Canada)
3,570301031407624196,negative,1.0000,Bad Flight,0.7033,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica it's really aggressive to blast...,NaN,2015-02-24 11:15:36 -0800,NaN,Pacific Time (US & Canada)
4,570300817074462722,negative,1.0000,Can't Tell,1.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica and it's a really big bad thing...,NaN,2015-02-24 11:14:45 -0800,NaN,Pacific Time (US & Canada)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14635,569587686496825344,positive,0.3487,NaN,0.0000,American,NaN,KristenReenders,NaN,0,@AmericanAir thank you we got on a different f...,NaN,2015-02-22 12:01:01 -0800,NaN,NaN
14636,569587371693355008,negative,1.0000,Customer Service Issue,1.0000,American,NaN,itsropes,NaN,0,@AmericanAir leaving over 20 minutes Late Flig...,NaN,2015-02-22 11:59:46 -0800,Texas,NaN
14637,569587242672398336,neutral,1.0000,NaN,NaN,American,NaN,sanyabun,NaN,0,@AmericanAir Please bring American Airlines to...,NaN,2015-02-22 11:59:15 -0800,"Nigeria,lagos",NaN
14638,569587188687634433,negative,1.0000,Customer Service Issue,0.6659,American,NaN,SraJackson,NaN,0,"@AmericanAir you have my money, you change my ...",NaN,2015-02-22 11:59:02 -0800,New Jersey,Eastern Time (US & Canada)
14639,569587140490866689,neutral,0.6771,NaN,0.0000,American,NaN,daviddtwu,NaN,0,@AmericanAir we have 8 ppl so we need 2 know h...,NaN,2015-02-22 11:58:51 -0800,"dallas, TX",NaN

In [2]:
tweet_data = tweet_data.drop(['tweet_id','retweet_count','tweet_coord','tweet_created','tweet_location','name','user_timezone'],axis=1)

In [3]:
tweet_data.head()

,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,negativereason_gold,text
0,neutral,1.0000,NaN,NaN,Virgin America,NaN,NaN,@VirginAmerica What @dhepburn said.
1,positive,0.3486,NaN,0.0000,Virgin America,NaN,NaN,@VirginAmerica plus you've added commercials t...
2,neutral,0.6837,NaN,NaN,Virgin America,NaN,NaN,@VirginAmerica I didn't today... Must mean I n...
3,negative,1.0000,Bad Flight,0.7033,Virgin America,NaN,NaN,@VirginAmerica it's really aggressive to blast...
4,negative,1.0000,Can't Tell,1.0000,Virgin America,NaN,NaN,@VirginAmerica and it's a really big bad thing...

In [4]:
import numpy as np

In [5]:
print("Topics for Negative Reasons:",tweet_data['negativereason'].unique())

Topics for Negative Reasons: [nan 'Bad Flight' "Can't Tell" 'Late Flight' 'Customer Service Issue'
 'Flight Booking Problems' 'Lost Luggage' 'Flight Attendant Complaints'
 'Cancelled Flight' 'Damaged Luggage' 'longlines']

In [6]:
review_df = tweet_data[['text','airline_sentiment']]
review_df

                                                    text airline_sentiment
0                    @VirginAmerica What @dhepburn said.           neutral
1      @VirginAmerica plus you've added commercials t...          positive
2      @VirginAmerica I didn't today... Must mean I n...           neutral
3      @VirginAmerica it's really aggressive to blast...          negative
4      @VirginAmerica and it's a really big bad thing...          negative
...                                                  ...               ...
14635  @AmericanAir thank you we got on a different f...          positive
14636  @AmericanAir leaving over 20 minutes Late Flig...          negative
14637  @AmericanAir Please bring American Airlines to...           neutral
14638  @AmericanAir you have my money, you change my ...          negative
14639  @AmericanAir we have 8 ppl so we need 2 know h...           neutral

[14640 rows x 2 columns]

In [7]:
print(review_df.shape)
review_df.head(5)

(14640, 2)

                                                text airline_sentiment
0                @VirginAmerica What @dhepburn said.           neutral
1  @VirginAmerica plus you've added commercials t...          positive
2  @VirginAmerica I didn't today... Must mean I n...           neutral
3  @VirginAmerica it's really aggressive to blast...          negative
4  @VirginAmerica and it's a really big bad thing...          negative

In [8]:
review_df = review_df[review_df['airline_sentiment']!='neutral']
review_df

                                                    text airline_sentiment
1      @VirginAmerica plus you've added commercials t...          positive
3      @VirginAmerica it's really aggressive to blast...          negative
4      @VirginAmerica and it's a really big bad thing...          negative
5      @VirginAmerica seriously would pay $30 a fligh...          negative
6      @VirginAmerica yes, nearly every time I fly VX...          positive
...                                                  ...               ...
14633  @AmericanAir my flight was Cancelled Flightled...          negative
14634         @AmericanAir right on cue with the delaysðŸ‘Œ          negative
14635  @AmericanAir thank you we got on a different f...          positive
14636  @AmericanAir leaving over 20 minutes Late Flig...          negative
14638  @AmericanAir you have my money, you change my ...          negative

[11541 rows x 2 columns]

In [9]:
review_df['airline_sentiment'].value_counts()

negative    9178
positive    2363
Name: airline_sentiment, dtype: int64

In [10]:
sentiment_label = review_df.airline_sentiment.factorize()
sentiment_label

(array([0, 1, 1, ..., 0, 1, 1]),
 Index(['positive', 'negative'], dtype='object'))

In [11]:
tweet = review_df.text.values

In [12]:
print(tweet)

["@VirginAmerica plus you've added commercials to the experience... tacky."
 '@VirginAmerica it\'s really aggressive to blast obnoxious "entertainment" in your guests\' faces &amp; they have little recourse'
 "@VirginAmerica and it's a really big bad thing about it" ...
 '@AmericanAir thank you we got on a different flight to Chicago.'
 "@AmericanAir leaving over 20 minutes Late Flight. No warnings or communication until we were 15 minutes Late Flight. That's called shitty customer svc"
 "@AmericanAir you have my money, you change my flight, and don't answer your phones! Any other suggestions so I can make my commitment??"]

In [13]:
x = review_df['text']
y = review_df['airline_sentiment']

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
x_train,x_test,y_train,y_test = train_test_split(x,y, test_size=0.3)

In [16]:
x_train = x_train.to_frame()
x_train

                                                    text
6089   @SouthwestAir had a very rude gate agent at BW...
7795   @JetBlue #kudos! And we're done and heading to...
10601  @USAirways Saying my friend missed her flight ...
13601  @AmericanAir @nickcunningham1 Except now there...
7551   @JetBlue they are now being sent off the plane...
...                                                  ...
9725   @USAirways delayed 2.5 hours @longbeachairport...
5683   @SouthwestAir how long does it take for points...
4753   @SouthwestAir Please get back with my about my...
1356   @united I attempted to book a ticket 3 times a...
12832  @AmericanAir overbooked business class from Mi...

[8078 rows x 1 columns]

In [17]:
x_test = x_test.to_frame()
x_test

                                                    text
3318   @united - I really down think downgrading the ...
10918  @USAirways are you fucking kidding me??? http:...
3371   @united Just saying the truth. You don't even ...
131    @VirginAmerica @FiDiFamilies us too! Terrible ...
3275   @united can you maybe have more than 1 person ...
...                                                  ...
3665   @united thanks for the re-upgrade to 1st class...
10715  @USAirways @AmericanAir did I mention I'm a si...
9665   @USAirways got this message on your site to ca...
3532   @united unavailable leg that registered hours ...
2352   @united not sure why u call it customer care. ...

[3463 rows x 1 columns]

In [18]:
y_train = y_train.to_frame()
y_train

      airline_sentiment
6089           negative
7795           positive
10601          negative
13601          negative
7551           negative
...                 ...
9725           negative
5683           negative
4753           negative
1356           negative
12832          negative

[8078 rows x 1 columns]

In [19]:
y_test = y_test.to_frame()
y_test

      airline_sentiment
3318           negative
10918          negative
3371           negative
131            negative
3275           negative
...                 ...
3665           positive
10715          negative
9665           negative
3532           negative
2352           negative

[3463 rows x 1 columns]

In [25]:
from sklearn.preprocessing import LabelEncoder

In [26]:
label_encoder_y = LabelEncoder()

In [ ]:
y_test.

In [20]:
from sklearn.feature_extraction.text import CountVectorizer

In [21]:
doc_text = x_train['text']

In [23]:
vec = CountVectorizer(stop_words='english')